body {
    font-family: Roboto, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 95vh;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.header h1 {
    color: #ddd;
}

#chatbox {
    flex-grow: 1;
    overflow-y: auto;
}

.chat-interface {
    width: 80%;
    height: 80%;
    margin: 20px auto;
    padding: 20px;
    overflow-y: auto;
    background-color: #f0f0f0;
}

.input-area {
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    width: 75%;
    padding: 10px;
    margin: 0 auto;
    background-color: #f0f0f0;
}

.input-area input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.input-area button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.message {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 18px;
    width: 100%;
    justify-content: space-between;
    opacity: 0;
    transform: translateY(20px);
    animation: showMessage 0.3s forwards;
}

@keyframes showMessage {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.bot-typing span {
    border-right: 2px solid;
    width: 0;
    display: inline-block;
    animation: typing 1s steps(10, end) infinite;
}

.message i {
    margin-right: 5px;
}

.message p {
    margin: 0;
}

.bot-message {
    animation: slideIn 0.5s ease-in-out;
    background-color: #e0e0e0;
    color: black;
    align-self: flex-start;
    margin-right: auto;
}

.user-message {
    background-color: #ffffff;
    color: black;
    border: 1px solid #d3d3d3;
    align-self: flex-end;
    margin-left: auto;
}

.timestamp {
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    .chat-interface {
        width: 100%;
    }

    .input-area {
        width: 100%;
    }
}
