<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Chatting</title>
</head>
<body>
    <div class="header">
        <h1>Ask anything &#x1F4A1;</h1>
    </div>
    <div id="chatbox" class="chat-interface">
        <!-- The initial bot and user messages are removed -->
    </div>
    <div class="input-area">
        <input id="input" type="text" placeholder="Type your message here..."/>
        <button id="send">Send</button>
    </div>
    <div class="message">
        <span class="timestamp"></span>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
